body {
    background-color:rgb(56, 72, 97);
}
.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #547e94;
    margin-top: 20px;
    color: #ffffff;
    align-items: center;
}


.header button {
    font-size: 17px;
    font-weight: 500;
    padding: 12px 83px;
    border: 1px solid #111111;
    background-color: #111111;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.header  button:hover {
    background-color: #cc1616;
}

.profile personal_details {
    margin-left: 15px;
}


